# project
_site
.sass-cache
.vagrant

# general
.DS_Store
Thumbs.db
ehthumbs.db

Gemfile.lock

beautiful-jekyll-theme-*.gem
_preview/
_preview2/
msys64/
preview_*.py
serve_preview.py
run_server.py
__pycache__/
*.pyc
